.welcome {
    background-color: rgb(255, 191, 210);
    border: solid;
    border-color: hotpink;
    border-radius: 22px;
    height: fit-content;
    padding: 10px;
    position: absolute;
}

.welcomeheader {
    width: 50px;
    cursor: move;
}

.welcomeClose {
    cursor: pointer;
    color:hotpink;
    font-weight:bolder;
}