.welcome {
    background-color: rgb(255, 191, 210);
    border: solid;
    border-color: hotpink;
    border-radius: 22px;
    height: fit-content;
    padding: 10px;
    position: absolute;
    left:700px;
}

.welcomeheader {
    width: 50px;
    cursor: move;
}

.welcomeClose {
    float: right;
    cursor: pointer;
    color:hotpink;
    font-weight:bolder;
}

.selected {
    text-decoration:dotted;
    text-decoration-color: rgb(255, 255, 255);
    background-color: blue;
    border-style: dotted;
    border-color: white;
    display:block;
}

.hidden {
    display: none;
}

.shown {
    display: block;
}

